<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ParaBank Enterprise Suite" data-provider-thread-count="1">
    
    <listeners>
        <listener class-name="com.banking.utils.TestListener" />
    </listeners>

    <test name="Authentication Tests">
        <classes>
            <class name="com.banking.tests.LoginTest" />
        </classes>
    </test>
    
</suite>